Ce notebook contient les bouts de code pour la création du masque forêt

In [12]:
import geopandas as gpd
import numpy as np
import os
import sys

In [13]:
#Chargement du geopandas
f_vege=gpd.read_file('/home/onyxia/work/data/project/FORMATION_VEGETALE.shp')
f_vege.head()

,ID,CODE_TFV,TFV,TFV_G11,ESSENCE,geometry
0,FORESTIE0000000003100001,FO1,Forêt ouverte de feuillus purs,Forêt ouverte feuillus,Feuillus,"POLYGON ((508756.27 6181000.546, 508761.718 61..."
1,FORESTIE0000000003100002,FO1,Forêt ouverte de feuillus purs,Forêt ouverte feuillus,Feuillus,"POLYGON ((504437.854 6181272.919, 504437.135 6..."
2,FORESTIE0000000003100003,FO1,Forêt ouverte de feuillus purs,Forêt ouverte feuillus,Feuillus,"POLYGON ((508679 6181464, 508680.8 6181463, 50..."
3,FORESTIE0000000003100004,FO1,Forêt ouverte de feuillus purs,Forêt ouverte feuillus,Feuillus,"POLYGON ((509217.516 6181694.51, 509213.5 6181..."
4,FORESTIE0000000003100005,FO1,Forêt ouverte de feuillus purs,Forêt ouverte feuillus,Feuillus,"POLYGON ((508056 6181920, 508053.3 6181915, 50..."

In [14]:
#Création de la liste pour le masque
L_mask=['Lande','Formation herbacée','Forêt ouverte de conifères purs','Forêt ouverte de feuillus purs','Forêt ouverte sans couvert arboré',
        'Forêt ouverte à mélange de feuillus et conifères','Forêt fermée sans couvert arboré']

Ci dessous il y a initialisation d'un numpy de un de même taille que le tableau pour le concatener à notre tableau

In [15]:
ones=np.ones((24041,1),dtype=int)
f_vege['value']=ones
f_vege.head()

,ID,CODE_TFV,TFV,TFV_G11,ESSENCE,geometry,value
0,FORESTIE0000000003100001,FO1,Forêt ouverte de feuillus purs,Forêt ouverte feuillus,Feuillus,"POLYGON ((508756.27 6181000.546, 508761.718 61...",1
1,FORESTIE0000000003100002,FO1,Forêt ouverte de feuillus purs,Forêt ouverte feuillus,Feuillus,"POLYGON ((504437.854 6181272.919, 504437.135 6...",1
2,FORESTIE0000000003100003,FO1,Forêt ouverte de feuillus purs,Forêt ouverte feuillus,Feuillus,"POLYGON ((508679 6181464, 508680.8 6181463, 50...",1
3,FORESTIE0000000003100004,FO1,Forêt ouverte de feuillus purs,Forêt ouverte feuillus,Feuillus,"POLYGON ((509217.516 6181694.51, 509213.5 6181...",1
4,FORESTIE0000000003100005,FO1,Forêt ouverte de feuillus purs,Forêt ouverte feuillus,Feuillus,"POLYGON ((508056 6181920, 508053.3 6181915, 50...",1

Ici on construit la colonne qui vaut 1 si on est de la forêt et 0 sinon

In [16]:
for i,j in zip(f_vege['TFV'],range(len(f_vege['value']))):
    if i in L_mask:
        #f_vege['mask'][j]=0
        f_vege.loc[j,'value']=0
f_vege.head()

,ID,CODE_TFV,TFV,TFV_G11,ESSENCE,geometry,value
0,FORESTIE0000000003100001,FO1,Forêt ouverte de feuillus purs,Forêt ouverte feuillus,Feuillus,"POLYGON ((508756.27 6181000.546, 508761.718 61...",0
1,FORESTIE0000000003100002,FO1,Forêt ouverte de feuillus purs,Forêt ouverte feuillus,Feuillus,"POLYGON ((504437.854 6181272.919, 504437.135 6...",0
2,FORESTIE0000000003100003,FO1,Forêt ouverte de feuillus purs,Forêt ouverte feuillus,Feuillus,"POLYGON ((508679 6181464, 508680.8 6181463, 50...",0
3,FORESTIE0000000003100004,FO1,Forêt ouverte de feuillus purs,Forêt ouverte feuillus,Feuillus,"POLYGON ((509217.516 6181694.51, 509213.5 6181...",0
4,FORESTIE0000000003100005,FO1,Forêt ouverte de feuillus purs,Forêt ouverte feuillus,Feuillus,"POLYGON ((508056 6181920, 508053.3 6181915, 50...",0

Ici je crée la deuxième colonne correspondant à classe (étapes faisable direct avant dans la création du mask)
Il y a aussi création du nouveau tableau avec juste le masque et l'ID des polygons pour plus tard

In [17]:
for i in range(len(f_vege['value'])):
    if f_vege['value'][i]==1:
        f_vege['Classe']='Zone de forêt'
        # f_vege.loc[i,'mask']='Zone de forêt'
        # f_vege['mask'][i]='Zone de forêt'
    else:
        f_vege['Classe']='Zone hors forêt'
        # f_vege.loc[i,'mask']='Zone hors forêt'
        #f_vege['mask'][i]='Zone hors forêt'
# f_vege['Classe']=f_vege['mask']
Masque=f_vege[['ID','Classe','value','geometry']]
Masque.head()

,ID,Classe,value,geometry
0,FORESTIE0000000003100001,Zone de forêt,0,"POLYGON ((508756.27 6181000.546, 508761.718 61..."
1,FORESTIE0000000003100002,Zone de forêt,0,"POLYGON ((504437.854 6181272.919, 504437.135 6..."
2,FORESTIE0000000003100003,Zone de forêt,0,"POLYGON ((508679 6181464, 508680.8 6181463, 50..."
3,FORESTIE0000000003100004,Zone de forêt,0,"POLYGON ((509217.516 6181694.51, 509213.5 6181..."
4,FORESTIE0000000003100005,Zone de forêt,0,"POLYGON ((508056 6181920, 508053.3 6181915, 50..."

In [18]:
#Encodage en 8 bits
Masque.loc[:,'value']=Masque['value'].astype('uint8')

# Rasterization avec gdal

Ce code est pas fini il faut d'abord qu'on ai les extent venant de la découpe de la partie pré-traitements

In [19]:
shp=gpd.read_file('/home/onyxia/work/data/project/emprise_etude.shp')
shp

,MINX,MINY,MAXX,MAXY,CNTX,CNTY,AREA,PERIM,HEIGHT,WIDTH,...,MINY_2,MAXX_2,MAXY_2,CNTX_2,CNTY_2,AREA_2,PERIM_2,HEIGHT_2,WIDTH_2,geometry
0,501127.9697,6.238861e+06,610073.1663,6.314464e+06,555600.568,6.276662e+06,8.236616e+09,369096.9934,75603.3001,108945.1966,...,4790220.0,409800.0,4900020.0,354900.0,4845120.0,1.205604e+10,439200.0,109800.0,109800.0,"POLYGON ((501127.97 6240794.776, 501127.97 631..."

In [20]:
Masque.to_file('/home/onyxia/work/data/project/mask_traite.shp')

In [21]:
test=gpd.read_file('/home/onyxia/work/data/project/mask_traite.shp')
test.head()

,ID,Classe,value,geometry
0,FORESTIE0000000003100001,Zone de forêt,0,"POLYGON ((508756.27 6181000.546, 508761.718 61..."
1,FORESTIE0000000003100002,Zone de forêt,0,"POLYGON ((504437.854 6181272.919, 504437.135 6..."
2,FORESTIE0000000003100003,Zone de forêt,0,"POLYGON ((508679 6181464, 508680.8 6181463, 50..."
3,FORESTIE0000000003100004,Zone de forêt,0,"POLYGON ((509217.516 6181694.51, 509213.5 6181..."
4,FORESTIE0000000003100005,Zone de forêt,0,"POLYGON ((508056 6181920, 508053.3 6181915, 50..."

In [22]:
## Rasterization
my_folder='/home/onyxia/work'
in_vector= os.path.join(my_folder, 'data/project/mask_traite.shp')
out_image = os.path.join(my_folder, 'Depot_Git/results/data/img_pretraitees/masque_foret.tif')
field_name = 'value'  # field containing the numeric label of the classes

sptial_resolution = 10
xmin,ymin,xmax,ymax=shp.total_bounds
# xmin = shp['MINX'][0]
# ymin = shp['MINY'][0]
# xmax = shp['MAXX'][0]
# ymax = shp['MAXY'][0]

# Créer le répertoire de sortie si nécessaire
out_dir = os.path.dirname(out_image)
os.makedirs(out_dir, exist_ok=True)  # Crée les répertoires manquants

# define command pattern to fill with paremeters
cmd_pattern = ("gdal_rasterize -a {field_name} "
               "-tr {sptial_resolution} {sptial_resolution} "
               "-te {xmin} {ymin} {xmax} {ymax} -ot Byte -of GTiff "
               "{in_vector} {out_image}")

# fill the string with the parameter thanks to format function
cmd = cmd_pattern.format(in_vector=in_vector, xmin=xmin, ymin=ymin, xmax=xmax,
                         ymax=ymax, out_image=out_image, field_name=field_name,
                         sptial_resolution=sptial_resolution)

# execute the command in the terminal
os.system(cmd)

0...10...20...30...40...50...60...70...80...90...100 - done.

0