In [1]:
import sys
sys.path.append('/home/onyxia/work/libsigma')

In [4]:
import os
import read_and_write as rw
from osgeo import gdal,ogr
import geopandas as gpd

In [13]:
test=gpd.read_file('/home/onyxia/work/data/project/emprise_etude.shp')
test

,MINX,MINY,MAXX,MAXY,CNTX,CNTY,AREA,PERIM,HEIGHT,WIDTH,...,MINY_2,MAXX_2,MAXY_2,CNTX_2,CNTY_2,AREA_2,PERIM_2,HEIGHT_2,WIDTH_2,geometry
0,501127.9697,6.238861e+06,610073.1663,6.314464e+06,555600.568,6.276662e+06,8.236616e+09,369096.9934,75603.3001,108945.1966,...,4790220.0,409800.0,4900020.0,354900.0,4845120.0,1.205604e+10,439200.0,109800.0,109800.0,"POLYGON ((501127.97 6240794.776, 501127.97 631..."

# Partie production image

L'idée ça peut être de construire une image comme dans le td opération sur raster en lui ajoutant à chaque fois une nouvelle bande d'une des dates

Donc d'abord charger toutes les images dans un tableau avec 60 bandes

In [14]:
ds_test=rw.open_image('/home/onyxia/work/data/images/SENTINEL2B_20220125-105852-948_L2A_T31TCJ_C_V3-0_SRE_B2.tif')

In [4]:
img1=rw.load_img_as_array('/home/onyxia/work/data/images/SENTINEL2B_20220125-105852-948_L2A_T31TCJ_C_V3-0_SRE_B2.tif')

In [5]:
img1

array([[[3122],
        [3112],
        [3037],
        ...,
        [ 441],
        [ 363],
        [ 315]],

       [[3228],
        [3293],
        [3220],
        ...,
        [ 421],
        [ 331],
        [ 297]],

       [[3245],
        [3348],
        [3306],
        ...,
        [ 337],
        [ 321],
        [ 336]],

       ...,

       [[ 224],
        [ 258],
        [ 275],
        ...,
        [ 835],
        [ 800],
        [ 874]],

       [[ 243],
        [ 269],
        [ 269],
        ...,
        [ 844],
        [ 828],
        [ 897]],

       [[ 189],
        [ 263],
        [ 295],
        ...,
        [ 783],
        [ 795],
        [ 839]]], dtype=int16)